@model List<Input.ViewModels.FanFiction.FanFictionViewModel>

<div class="container">
    <div class="row bg-secondary shadow mb-5 bg-white rounded" style="min-height: 250px;">
        <div class="col-12 col-md-6 pt-3">
            <div style="height: 100px;">
                <h3 class="display-6">Произведения ожидающие проверки:</h3><br/>
            </div>
            @if (Model.Count != 0)
            {
                <a>Название/</a>
                <a>Кто создал/</a>
                <a>Тема</a><br/>
                @foreach (var item in @Model)
                {
                    <a>@item.Name/</a>
                    <a>@item.User.UserName/</a>
                    <a>@item.Fandom.Name</a>
                    <a class="btn btn-outline-primary" onclick="window.location.href = 'FanFiction/FanFiction/?id=@item.Id&returnUrl=Moderation';">Посмотреть</a>
                    <a class="btn btn-outline-success" onclick="SetAdminCheck(@item.Id)">Взять на себя</a>
                    <br/>
                }
            }
            else
            {
                <a class="text-primary">Произведений для проверки нет</a>
            }
        </div>
        <div class="col-12 col-md-6 pt-3" style="background-color: #FFE4C4">
            <div style="height: 100px;">
                <h3 class="display-6">Произведения которые вы взяли на проверку:</h3><br/>
            </div>
            @if (ViewBag.AdminModeration.Count != 0)
            {
                <a>Название/</a>
                <a>Кто создал/</a>
                <a>Статус</a><br/>
                @foreach (var item in @ViewBag.AdminModeration)
                {
                    <a>@item.Name/</a>
                    <a>@item.User.UserName/</a>
                    <a>@item.Moderation.Status.Name</a>
                    <a class="btn btn-outline-primary" onclick="window.location.href = 'Moderation/CheckPost/?id=@item.Id';">Проверить</a>
                    <br/>
                }
            }
            else
            {
                <a class="text-primary">Произведений для проверки нет</a>
            }
        </div>
    </div>
</div>

<script>

</script>